.App-header {
  margin-top: 50px;
  background-color: #14161a;

  min-height: 11vh;
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: calc(2vmin);
  color: rgb(226, 226, 226);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover:not(.active) {
  background-color: #111;
}

.navigation li a.active {
  background-color: #14161A;
}


.Container {
  background-color: #32353c;
  color: rgb(252, 252, 252);

  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

.Cars-Container {
  text-align: left;
  align-items: left;
  padding-left: 50px;
  padding-right: 50px;
}

.OrderForm{
  border-radius: 15px;
  border-style: dashed;
  border-width: 1px;
  width: 500px;
  height: 540px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 14, 28, 0.244);
  align-self: center;
  font-size: calc(2vmin);
  color: rgb(248, 239, 193);
}

.OrderForm input {
  /*margin-left: 10px;*/
  margin-bottom: 20px;
}

.modernCar {
  font-size: calc(2vmin);
  color: rgb(233, 99, 128);
}

.stock {
  font-size: calc(2vmin);
  color: rgb(233, 211, 99);
}

.App-footer {
  background-color: #14161a;
  min-height: 16vh;
  display: flex;
  
  align-items: center;
  justify-content: center;

  font-size: calc(2vmin);
  color: rgb(82, 232, 255);

  margin-top: auto;
}

.App-link {
  color: #ffe0cd;
  text-decoration: none;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
  margin-right: 10px;
}

.home-bkg {
  width: stretch;
  margin-bottom: -10px;;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}